.current-day-dot {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

body {
  background-color: #b2baba;
}

/* Navigation */
.custom-spacing .nav-item {
  margin-right: 100px;
}

.navbar {
  background-color: #b2baba;
}

.logo {
  width: 120px;
  height: auto;
}

.logo-spacing {
  padding-right: 3%;
}

.appointment {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Container under Nav */
.main-container {
  background: url("images/bg_image.png");
  background-size: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 100%;
}

.hours-card {
  max-width: 250px;
}

.shadow {
  background-color: #7a7e81;
  opacity: 90%;
  box-shadow: 2px 4px 10px -3px rgba(0, 0, 0, 0.5);
}

/* REVIEW CARDS */
.review-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
}

.review-header {
  display: flex;
  align-items: center;
}

.review-avatar {
  background-color: #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.review-name {
  font-weight: bold;
  flex-grow: 1;
}

.review-rating {
  color: #ffcc00;
  font-size: 20px;
}

.review-body {
  margin-top: 10px;
}

/* Services Offered */
.service-card-home {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 80%;
  align-items: end;
}

.services-container {
  margin-top: 7%;
}

/* Appointment Submission */
.form-control,
.form-select {
  margin-bottom: 15px;
}

.btn-submit {
  width: 100%;
}

/* MAP */
.map-cards-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.map-container {
  position: relative;
  width: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-cards {
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.location-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  width: 100%;
}

/* Footer */
.footer {
  color: #000;
  text-align: center;
  padding: 2%;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #000;
  margin: 0 10px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* SERVICES */

/* NAV */
.highlighted {
  position: relative;
}

.highlighted::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: -1;
  border-radius: 5px;
}

/* Services */
.service-card {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ced4da;
}

.service-container {
  padding: 6% 10%;
  background-color: white;
}

.service-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.service-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #007bff;
}

.service-description {
  flex: 1;
  margin: 0 1rem;
  color: #6c757d;
  text-align: center;
}

.service-buttons {
  display: flex;
  flex-direction: column;
}

.service-buttons button {
  margin-bottom: 0.5rem;
}

/* About Us */
.about-us-header {
  background-color: #6c63ff;
  color: white;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 3%;
}

/* Specialist */
.specialist-card {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  background-color: #d3d6d6;
}

section {
  padding-bottom: 5%;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

.book-specialist-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Confirmation */
.confirmation-container {
  background-color: white;
  padding-top: 1%;
  padding-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.confirmation-content {
  background-color: #90ee90;
  padding: 20px;
  border-radius: 8px;
}

/* Upcoming Appointments */
.appointment-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
}

.appointment-icon {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
